/* rounded corners: not necessary */
button, select, input, textarea {
  border-radius: 4px;
}

/* most here are probably not needed but it just reverses the whole colorset */
:root{
  --fill-0:#000;
  --fill-0-5:#050505;
  --fill-1:#111;
  --fill-2:#222;
  --fill-3:#333;
  --fill-4:#444;
  --fill-5:#555;
  --fill-6:#666;
  --fill-7:#777;
  --fill-8:#888;
  --fill-9:#999;
  --fill-10:#aaa;
  --fill-11:#bbb;
  --fill-12:#ccc;
  --fill-13:#ddd;
  --fill-14:#eee;
  --fill-15:#fff;
}

/* textareas and inputareas are not handled by the changes above */
textarea, input, select{
  color:#fff;
  background:#000;
}

/* for the code-editor */
/* it still looks weird because the code highlighting colorscheme is made for a light theme...
   but still better than being blinded i guess */
.CodeMirror {
  color:#fff;
  background:#000;
}

.CodeMirror-gutters {
  background:#000;
  border-right:0px solid #000;
}

.CodeMirror-activeline-background {
  background:#111;
}

.CodeMirror-cursor {
  border-left:1px solid #fff;
}